# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/httpRequests/2020-07-17T032131.500.json
/.idea/httpRequests/http-requests-log.http
